@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="UpdateProfile">Update Profile</a></li>
    <li class="list-group-item"><a asp-action="ManageCourses">Manage Courses</a></li>
    <li class="list-group-item"><a asp-action="ManageTrainers">Manage Trainers</a></li>
    <li class="list-group-item"><a asp-action="ManageLearners">Manage Learners</a></li>
    <li class="list-group-item"><a asp-action="Logout">Logout</a></li>
</ul>