@{
    ViewData["Title"] = "Learner Dashboard";
}

<h1>Learner Dashboard</h1>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="UpdateProfile">Update Profile</a></li>
    <li class="list-group-item"><a asp-action="SearchContent">Search Content</a></li>
    <li class="list-group-item"><a asp-action="Logout">Logout</a></li>
</ul>