@{
    ViewData["Title"] = "Trainer Dashboard";
}

<h1>Trainer Dashboard</h1>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="UpdateProfile">Update Profile</a></li>
    <li class="list-group-item"><a asp-action="ManageContent">Manage Content</a></li>
    <li class="list-group-item"><a asp-action="Logout">Logout</a></li>
</ul>